<a href="https://colab.research.google.com/github/juanjose1919/Proyectos-primer-corte/blob/main/PROYECTO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class TablaDatos:
  def __init__(self, datos: list):#listo
    self.datos = datos
    self.tamaño_tabla = len(self.datos)-1, len(self.datos[0])
    self.nombre_columna = self.datos[0]
    
    c =[]
    d=[]
    for i in self.datos[1]:
      c.append(type(i))
    for h in range(2,self.tamaño_tabla[0]+1): 
      for j in self.datos[h]:
        d.append(type(j))
      if c == d:
        d.clear()
        print(c)
      else:
        print('ERROR: EL TIPO DE DATO NO ES CORRECTO')
    self.tipo = c
    a = range(0,self.tamaño_tabla[0]+1)
    dic = {}
    for i in a:
      clave = self.datos[i][0]
      dic[clave] = len(self.datos[i])
      r = max(dic.values())
      m = min(dic.values())
    if r == self.tamaño_tabla[1] and m == self.tamaño_tabla[1]:
      pass
      #print('El tamaño es correcto')
    if r > self.tamaño_tabla[1] or m < self.tamaño_tabla[1]:
      print('EL TAMAÑO ES INCORRECTO, ARREGLE LA TABLA PARA CONTINUAR')
  def __actualizar_tamaño(self):
    self.tamaño_tabla = len(self.datos)-1, len(self.datos[0])
  
  def acceso_columna(self, columna: int): #listo
    '''INGRESAR EL NÚMERO DE LA COLUMNA A ACCEDER'''
    if type(columna) == int:
      if columna == 0:
        return 'ERROR: el valor minimo es 1'
      if columna <= self.tamaño_tabla[1]:
        nombre= []
        for fila in self.datos:
          nombre.append(fila[columna-1])
        return nombre
      if columna > self.tamaño_tabla[1] :
        return f'ERROR: no hay suficientes columnas, recuerde que el maximo son {self.tamaño_tabla[1]}'
    if type(columna) != int:
        return 'ERROR: Debe estar en el formato int'
      
  def acceso_fila(self, numero_fila: int): #listo
    '''INGRESAR EL NUMERO DE LA FILA A ACCEDER'''     
    if numero_fila == 0:
      return 'ERROR: el numero de fila minimo es 1' 
    if numero_fila <= self.tamaño_tabla[0]:
      return self.datos[numero_fila]
    if numero_fila < 0:
      return 'ERROR: el numero de fila minimo es 1'
    if numero_fila > self.tamaño_tabla[0] - 1:
      return f'ERROR: el numero de fila maximo es {self.tamaño_tabla[0]}'
  
  def agregar_columna(self, columna: list): #sousou
    '''INGRESE EL NOMBRE DE LA COLUMNA, SEGUIDO DE LOS DATOS'''
    if type(columna) != list:
      return 'ERROR: Tipo de dato erroneo, solo listas'
    if len(columna) != self.tamaño_tabla[0]+1:
      return f'ERROR: el largo de la fila debe ser de {self.tamaño_tabla[0]+1}'
    if len(columna) == self.tamaño_tabla[0]+1:
      for j in range(0, self.tamaño_tabla[1]-1):
        if columna[0] == self.datos[0][j]:
          return 'ERROR: No se puede agregar una columna ya existente'
        if columna[0] != self.datos[0][j]:  
          pass
      d=[]
      for h in range(2, len(columna)):
        d.append(type(columna[h]))
        if type(columna[1]) == type(columna[h]):
          g = True
        else:
          return 'ERROR: EL TIPO DE DATO NO ES CORRECTO'
      if g == True:
        a = range(0, self.tamaño_tabla[0]+1)
        for i in a:
          self.datos[i].append(columna[i])
        self.__actualizar_tamaño()

  def eliminar_columna(self, num_columna: int): #listo
    '''INGRESE EL NUMERO DE LA COLUMNA QUE DESEA ELIMINAR'''
    if num_columna ==0:
      return 'ERROR: numero de columna mino es de 1'
    if type(num_columna) != int:
      return 'ERROR: El formato es invalido, debe ingresar un int'
    if num_columna > self.tamaño_tabla[1]:
      return f'ERROR: numero de la columna no puede ser mayor a {self.tamaño_tabla[1]}'
    a = range(0, self.tamaño_tabla[0]+1)
    for i in a:
      self.datos[i].pop(num_columna-1)
    self.__actualizar_tamaño()
  
  def agregar_fila(self, fila: list): #listo
    '''INGRESE UNA LISTA DE VALORES'''
    a = []
    for i in fila:
      a.append(type(i))
    print(a)
    if self.tipo != a:
      print('ERROR: La fila no coincide con el tipo de datos solicitados')
    else: 
      if type(fila) != list:
        return 'ERROR: Tipo de dato erroneo, solo listas'
      if len(fila) != self.tamaño_tabla[1]:
        return f'ERROR: el largo de la fila debe ser de {self.tamaño_tabla[1]}'
      self.datos.append(fila)
      self.__actualizar_tamaño()

  def eliminar_fila(self, num_fila: int): #listo
    '''INGRESE EL NÚMERO DE LA FILA QUE DESEA ELIMINAR'''
    if type(num_fila) == int:  
      if num_fila == 0:
        return 'ERROR: El numero de la fila minimo es 1'
      if num_fila > self.tamaño_tabla[0]:
        return f'ERROR: El numero de la fila no puede ser mayor a {self.tamaño_tabla[1]}'
    if type(num_fila) != int:
      return 'ERROR: El valor debe ser un int'
    self.datos.pop(num_fila)
    self.__actualizar_tamaño()

  def operar_escalar(self, operador:int, operacion:str): #listo
    '''INGRESAR EL NUMERO Y LA OPERACION DESEADA, EJE: 5, '+' '''
    contador = range(1, len(self.datos))
    a = []
    if operacion == '+':
      contador = range(1, len(self.datos))
      for i in contador:
        for j in self.datos[i]:
          if type(j) == str:
            a.append(j)
            pass
          if type(j) != str: 
            a.append(j+ operador)
      n=self.tamaño_tabla[1]
      a=[a[i:i + n] for i in range(0, len(a), n)]
      print(a)
    if operacion == '-':
      contador = range(1, len(self.datos))
      for i in contador:
        for j in self.datos[i]:
          if type(j) == str:
            a.append(j)
            pass
          if type(j) != str: 
            a.append(j - operador)
      n=self.tamaño_tabla[1]
      a=[a[i:i + n] for i in range(0, len(a), n)]
      print(a)
    if operacion == '*':
      contador = range(1, len(self.datos))
      for i in contador:
        for j in self.datos[i]:
          a.append(j * operador)
      n=self.tamaño_tabla[1]
      a=[a[i:i + n] for i in range(0, len(a), n)]
      print(a)
    if operacion == '/':
      contador = range(1, len(self.datos))
      for i in contador:
        for j in self.datos[i]:
          if type(j) == str:
            a.append(j)
            pass
          if type(j) != str: 
            if operador == 0: 
              return 'ERROR'
            else:
              a.append(j / operador)
      n=self.tamaño_tabla[1]
      a=[a[i:i + n] for i in range(0, len(a), n)]
      print(a)
  
  
  def operar_columnas(self, columna_a : int, columna_b: int, operacion: str): #listo
    '''INGRESE DOS COLUMNAS QUE DESEE OPERAR, SEGUIDO DE LA OPERACION. EJE: 3,4,'*' '''
    if columna_a == 0 or columna_b == 0:
      return 'ERROR: COLUMNA INVALIDA'
    if columna_a <= self.tamaño_tabla[1] and columna_b <= self.tamaño_tabla[1]:
      if type(self.datos[1][columna_a-1]) != str and type(self.datos[1][columna_b-1]) != str:
        if operacion == '+':
          f = []
          variable = range(1, self.tamaño_tabla[0]+1)
          for i in variable:
            f.append(self.datos[i][columna_a-1] + self.datos[i][columna_b-1])
          print(f'El resultado de la columna {columna_a} {operacion} la columna  {columna_b}, es {f}')
        if operacion == '-':
          f = []
          variable = range(1, self.tamaño_tabla[0]+1)
          for i in variable:
            f.append(self.datos[i][columna_a-1] - self.datos[i][columna_b-1])
          print(f'El resultado de la columna {columna_a} {operacion} la columna  {columna_b}, es {f}')
        if operacion == '*':
          f = []
          variable = range(1, self.tamaño_tabla[0]+1)
          for i in variable:
            f.append(self.datos[i][columna_a-1] * self.datos[i][columna_b-1])
          print(f'El resultado de la columna {columna_a} {operacion} la columna  {columna_b}, es {f}')
        if operacion == '/':
          f = []
          variable = range(1, self.tamaño_tabla[0]+1)
          for i in variable:
            if self.datos[i][columna_a-1] == 0 or self.datos[i][columna_b-1] == 0:
              return 'ERROR: Division entre cero'
            else:
              f.append(self.datos[i][columna_a-1] / self.datos[i][columna_b-1])
          print(f'El resultado de la columna {columna_a} {operacion} la columna  {columna_b}, es {f}')
      if type(self.datos[1][columna_a-1]) == str or type(self.datos[1][columna_b-1]) == str:
        if type(self.datos[1][columna_a-1]) != str or type(self.datos[1][columna_b-1]) != str:
          if type(self.datos[1][columna_a-1]) == str or type(self.datos[1][columna_b-1]) == str:
            if operacion != '*':
              return f'ERROR: No puedes operar {columna_a} {operacion} {columna_b}, recuerda que es un str'
          if type(self.datos[1][columna_a-1]) == float or type(self.datos[1][columna_b-1]) == float:
            return 'ERROR: Esta operación no se puede ralizar'
          if operacion == '*':
            f = []
            variable = range(1, self.tamaño_tabla[0]+1)
            for i in variable:
              f.append(self.datos[i][columna_a-1] * self.datos[i][columna_b-1])
            print(f'El resultado de la columna {columna_a} {operacion} la columna  {columna_b}, es {f}')
          if type(self.datos[1][columna_a-1]) == str and type(self.datos[1][columna_b-1]) == str:
            return f'ERROR: No puedes operar {columna_a} {operacion} {columna_b}, recuerda que es un str'
        else:
          return 'ERROR: No puedes operar dos columnas en formato str'
    else:
      return 'ERROR: Columna inexistente'

  def ordenar(self, num_columna:int): #listo
    '''INGRESE LA COLUMNA QUE DESEA ORDENAR'''
    if num_columna > 0 and num_columna <= self.tamaño_tabla[1]:
      a = []
      b = range(1, self.tamaño_tabla[0]+1)
      c = range(0, self.tamaño_tabla[0]+1)
      for i in b:
        a.append(self.datos[i][num_columna-1])
      if type(self.datos[1][num_columna-1]) == str:
        a.insert(0, 'A')
      if type(self.datos[1][num_columna-1])==int:
        a.insert(0, 0)
      if type(self.datos[1][num_columna-1]) == float:
        a.insert(0, -10000)
      if type(self.datos[1][num_columna-1])==bool:
        a.insert(0, False)
      #print(a) 
      for j in c:
        self.datos[j].insert(0, a[j])
      self.datos = sorted(self.datos)
      for i in c:
        if len(self.datos) == self.tamaño_tabla[0]:
          pass
        if len(self.datos) >self.tamaño_tabla[0]:
          self.datos[i].pop(0)
      print(self.datos)
    else:
      return 'ERROR: NO EXISTE LA COLUMNA' 
  def __repr__(self):
    for fila in self.datos:
      for elem in fila:
        print(f'{elem:<10}', end='')
      print()
    return f'tamaño_tabla: {self.tamaño_tabla}'

In [5]:
info_estudiantes = [['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION','CASADO','SALARIO'],
              ['JUAN', 23, 4,True,10.5],
              ['GERARDO', 20, 150,True,30.8],
              ['VALERIA', 19 , 28,True,50.6]]

In [6]:
objeto = TablaDatos(info_estudiantes)

[<class 'str'>, <class 'int'>, <class 'int'>, <class 'bool'>, <class 'float'>]
[<class 'str'>, <class 'int'>, <class 'int'>, <class 'bool'>, <class 'float'>]

In [7]:
objeto.tamaño_tabla

(3, 5)

In [277]:
objeto.ordenar(1)

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO'], ['GERARDO', 20, 150, True, 30.8], ['JUAN', 23, 4, True, 10.5], ['VALERIA', 19, 28, True, 50.6]]

In [278]:
objeto.ordenar(2)

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO'], ['VALERIA', 19, 28, True, 50.6], ['GERARDO', 20, 150, True, 30.8], ['JUAN', 23, 4, True, 10.5]]

In [279]:
objeto.ordenar(3)

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO'], ['JUAN', 23, 4, True, 10.5], ['VALERIA', 19, 28, True, 50.6], ['GERARDO', 20, 150, True, 30.8]]

In [280]:
objeto.ordenar(4)

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO'], ['GERARDO', 20, 150, True, 30.8], ['JUAN', 23, 4, True, 10.5], ['VALERIA', 19, 28, True, 50.6]]

In [281]:
objeto.acceso_columna(7)

'ERROR: no hay suficientes columnas, recuerde que el maximo son 5'

In [282]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO'],
 ['GERARDO', 20, 150, True, 30.8],
 ['JUAN', 23, 4, True, 10.5],
 ['VALERIA', 19, 28, True, 50.6]]

In [283]:
objeto.nombre_columna

['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO']

In [284]:
objeto.acceso_columna('GAS')

'ERROR: Debe estar en el formato int'

In [285]:
objeto.acceso_fila(3)

['VALERIA', 19, 28, True, 50.6]

In [286]:
objeto.acceso_columna(3)

['AÑOS DE EDUCACION', 150, 4, 28]

In [287]:
objeto.agregar_columna(['COL', 6,7,7])

In [288]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO', 'COL'],
 ['GERARDO', 20, 150, True, 30.8, 6],
 ['JUAN', 23, 4, True, 10.5, 7],
 ['VALERIA', 19, 28, True, 50.6, 7]]

In [289]:
objeto.tamaño_tabla

(3, 6)

In [290]:
objeto.acceso_columna(5)

['SALARIO', 30.8, 10.5, 50.6]

In [291]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO', 'COL'],
 ['GERARDO', 20, 150, True, 30.8, 6],
 ['JUAN', 23, 4, True, 10.5, 7],
 ['VALERIA', 19, 28, True, 50.6, 7]]

In [292]:
objeto.eliminar_columna('d')

'ERROR: El formato es invalido, debe ingresar un int'

In [293]:
objeto.tamaño_tabla

(3, 6)

In [294]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO', 'COL'],
 ['GERARDO', 20, 150, True, 30.8, 6],
 ['JUAN', 23, 4, True, 10.5, 7],
 ['VALERIA', 19, 28, True, 50.6, 7]]

In [295]:
objeto.agregar_fila(['ANA', 55, 47,True,4.4])

[<class 'str'>, <class 'int'>, <class 'int'>, <class 'bool'>, <class 'float'>]

'ERROR: el largo de la fila debe ser de 6'

In [296]:
objeto.operar_escalar(7,'*')

[['GERARDOGERARDOGERARDOGERARDOGERARDOGERARDOGERARDO', 140, 1050, 7, 215.6, 42], ['JUANJUANJUANJUANJUANJUANJUAN', 161, 28, 7, 73.5, 49], ['VALERIAVALERIAVALERIAVALERIAVALERIAVALERIAVALERIA', 133, 196, 7, 354.2, 49]]

In [297]:
objeto.agregar_fila([2])

[<class 'int'>]
ERROR: La fila no coincide con el tipo de datos solicitados

In [298]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO', 'COL'],
 ['GERARDO', 20, 150, True, 30.8, 6],
 ['JUAN', 23, 4, True, 10.5, 7],
 ['VALERIA', 19, 28, True, 50.6, 7]]

In [299]:
objeto.acceso_fila(2)

['JUAN', 23, 4, True, 10.5, 7]

In [300]:
objeto.eliminar_fila(1)

In [301]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO', 'COL'],
 ['JUAN', 23, 4, True, 10.5, 7],
 ['VALERIA', 19, 28, True, 50.6, 7]]

In [302]:
objeto.operar_escalar(5,'/')

[['JUAN', 4.6, 0.8, 0.2, 2.1, 1.4], ['VALERIA', 3.8, 5.6, 0.2, 10.120000000000001, 1.4]]

In [303]:
objeto.tamaño_tabla

(2, 6)

In [304]:
objeto.datos

[['NOMBRE', 'EDAD', 'AÑOS DE EDUCACION', 'CASADO', 'SALARIO', 'COL'],
 ['JUAN', 23, 4, True, 10.5, 7],
 ['VALERIA', 19, 28, True, 50.6, 7]]

In [305]:
objeto.operar_columnas(2,5,'*')

El resultado de la columna 2 * la columna  5, es [241.5, 961.4]

In [306]:
objeto.operar_columnas(1,4,'*')

El resultado de la columna 1 * la columna  4, es ['JUAN', 'VALERIA']

In [307]:
objeto.operar_columnas(1,5,'+')

'ERROR: No puedes operar 1 + 5, recuerda que es un str'

In [308]:
objeto.operar_columnas(3,2,'/')

El resultado de la columna 3 / la columna  2, es [0.17391304347826086, 1.4736842105263157]

In [309]:
objeto.operar_columnas(1,4,'*')

El resultado de la columna 1 * la columna  4, es ['JUAN', 'VALERIA']

In [8]:
objeto

NOMBRE    EDAD      AÑOS DE EDUCACIONCASADO    SALARIO
JUAN      23        4         1         10.5
GERARDO   20        150       1         30.8
VALERIA   19        28        1         50.6

tamaño_tabla: (3, 5)